<div layout="column" layout-padding ng-cloak>
    <div class="col-sm-8 col-sm-offset-2">
        <br />
        <div layout layout-align="center center"><h1>AngularApp Departamentos</h1></div>
        <br />
      
        <div layout layout-align="center">
            <md-fab-actions>
              <span>
                    <md-button class="md-fab md-raised md-mini">
                        <md-icon title="Departamentos" md-svg-src="img/icons/question.svg"></md-icon>
                    </md-button>
                  {{departamentos.id}}
                </span>
            </md-fab-actions>
        </div>
</div>

</div>
